*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
:root {
  font-family: "Open Sans", sans-serif;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

body {
  margin: 0;
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  transition: box-shadow, transform 250ms ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--scrolled {
  box-shadow: 0 2px 2px 0 #8888882d;
}
.header--hidden {
  transform: translateY(-100%);
}

.header__list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 3.5rem;
}
.header__list > li {
  display: inline-block;
}

.header__link,
.header__button {
  padding: 0.5rem;
  text-decoration: none;
  display: inline-flex;
  margin: 0.1rem 0.25rem;
  border-radius: 0.25rem;
}
.header__button {
  position: absolute;
  right: 0%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.header__link > img,
.header__button > img {
  height: 1.5rem;
}
.header__link:hover,
.header__button:hover {
  background-color: #f5f5f5;
}

.header__sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 75%;
  background-color: #f9f9f9;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.header__sidebar--open {
  transform: translateX(0);
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.75rem;
  margin: 0;
  list-style: none;
  margin-top: 2rem;
}
.header__nav-link {
  font-size: var(--text-xl);
  font-weight: 600;
  padding: 0.5rem;
  text-decoration: none;
  display: inline-flex;
  border-radius: 0.25rem;
}
.header__nav-link:hover {
  background-color: #f5f5f5;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

.projects {
  /*   height: 50vh; */
}
.projects__title {
  font-size: var(--text-2xl);
  font-weight: bold;
}
.projects__carousel {
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
  z-index: 10;
}
.carousel__btn > svg {
  width: 2rem;
  height: 2rem;
}
.carousel__btn > svg > path {
  fill: rgb(218, 218, 218);
}

.projects {
  /*   height: 50vh; */
  max-width: 95%;
  margin: 0 auto;
}

.projects__list {
  display: grid;
  gap: 2rem;
}

.projects__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0fr);
  box-shadow: 0px 0px 10px 2px #ccc;
  padding: 0 0.75rem;
  border-radius: 0.25rem;
}

.project__title {
  font-weight: 600;
  font-size: var(--text-lg);
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.project__media {
  place-self: center;
  border-radius: 0.5rem;
  width: 100%;
}

.project__description {
  font-weight: 300;
  font-size: var(--text-base);
  margin: 0.5rem 0;
}

.project__tech-list {
  margin: 0.5rem 0;
  display: flex;
  gap: 0.35rem;
  font-weight: 500;
  font-size: var(--text-xs);
}
.project__tech-list-item {
  padding: 0.1rem 0.5rem;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 5px #ccc;
}

.project__links {
  margin: 0.5rem 0;
  place-self: end;
}
.project__links > a {
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-decoration: none;
  display: inline-flex;
  margin: 0.1rem 0.25rem;
}
.project__links > a:first-child {
}
.project__links > a:last-child {
}

.skills {
  /* height: 50vh; */
  max-width: 95%;
  margin: 0 auto;
}
.skills__list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 1rem;
  margin: 1rem;
}

.skill__item {
  position: relative;
  display: grid;
  justify-items: center;
}
.skill__logo {
  aspect-ratio: 1/1;
  height: 3.5rem;
  position: relative;
  z-index: 2;
  background-color: #ffffff40;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.skill__logo--background {
  aspect-ratio: 1/1;
  height: 3rem;
  margin-top: 0.25rem;
  position: absolute;
  z-index: 1;
  transform: scale(1.2);
  filter: blur(24px);
}
.skill__title {
  white-space: nowrap;
  font-size: var(--text-xs);
  font-weight: 600;
  margin: 0;
  margin-top: 0.5rem;
}
