.navLink {
  border-radius: var(--rounded);
  font-size: var(--fz-xl);
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.25rem 0;
  position: relative;
  display: inline-flex;
  background-color: transparent;
  border: none;
}
.navLink:hover {
  background-color: var(--neutral-50);
}
.navLink > svg,
.navLink > img {
  color: var(--neutral-900);
  height: 1.6rem;
  width: auto;
}
html[data-theme="dark"] .navLink > svg,
html[data-theme="dark"] .navLink > img {
  color: var(--neutral-100);
}
html[data-theme="dark"] .navLink:hover {
  background-color: var(--slate-700);
}
@media (min-width: 768px) {
  .navLink {
    font-size: var(--fz-sm);
    transition: 300ms;
  }
  .navLink:hover {
    color: var(--slate-400);
  }
  .navLink > svg,
  .navLink > img {
    height: 1.25rem;
    width: auto;
  }
}
