@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Scrollbar Styles */
  * {
    @apply [scrollbar-color:bg-night-500_bg-night-200] dark:[scrollbar-color:bg-night-500_bg-night-200];
  }
  *::-webkit-scrollbar {
    @apply md:w-3;
  }
  *::-webkit-scrollbar-track {
    @apply bg-night-500/10 dark:bg-night-400/10;
  }
  *::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-night-500 hover:bg-night-200;
  }

  /* Logo color */
  a[href*='linkedin.com'] svg > path,
  a[href*='github.com'] svg > path {
    @apply dark:fill-neutral-50;
  }
}

@layer components {
  .nav-item {
    @apply relative flex items-center whitespace-nowrap rounded border-none bg-transparent p-2 text-xl font-semibold md:flex md:justify-center md:text-sm;
  }
}

@layer utilities {
  .max-w-container {
    @apply mx-auto max-w-5xl px-2;
  }
  .underline-effect:after {
    @apply absolute left-0 top-[90%] h-0.5 w-0 bg-night-500 content-[''] duration-300 dark:bg-night-400;
  }
  .underline-effect:hover:after {
    @apply w-full;
  }
  .underline-effect:not(:hover):after {
    @apply left-auto right-0;
  }
  :focus {
    @apply outline-night-500 transition-[colors,outline] focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-offset-1 dark:outline-night-400;
  }
}

.hero__title::before,
.hero__title::after {
  color: var(--night-500);
  font-size: 1.125rem;
  font-weight: 400;
  left: 0;
  opacity: 0.25;
  position: absolute;
}
.hero__title::before {
  margin-top: -1.75rem;
}
.hero__title::after {
  bottom: -1.75rem;
}
.hero__title::before {
  content: '<h1>';
}
.hero__title::after {
  content: '</h1>';
}

.project__item {
  grid-template-rows: repeat(5, auto);
}

@media (min-width: 768px) {
  .hero__title::before,
  .hero__title::after {
    left: -1.5rem;
  }
  .project__item {
    grid-template-rows: auto 1fr auto auto;
  }
  .projects > *:nth-child(odd) > .project__item,
  .project__item {
    grid-template-columns: 1fr 45%;
    grid-template-areas:
      'media title'
      'media description'
      'media tech-list'
      'media links';
  }
  .projects > *:nth-child(even) > .project__item {
    grid-template-columns: 45% 1fr;
    grid-template-areas:
      'title media'
      'description media'
      'tech-list media'
      'links media';
  }
}

.contact__list:has([href*='twitter.com']:hover, [href*='t.me']:hover)
  ~ .email
  .at {
  opacity: 1;
  user-select: auto;
}

.contact__list:has(a:hover) ~ .textContent {
  opacity: 0;
  visibility: hidden;
}
.contact__list:has(a:hover) ~ .email div {
  transform: translateX(2rem);
}
.contact__list:has(a:hover) ~ .email .emailDomain {
  opacity: 0.05;
}
