.list {
  display: flex;
  margin: 1.5rem 0 0 0;
  justify-content: center;
}
.list:has([href*="twitter.com"]:hover, [href*="t.me"]:hover) ~ .email .at {
  opacity: 1;
  user-select: auto;
}

.list:has(a:hover) ~ .textContent {
  opacity: 0;
  visibility: hidden;
}
.list:has(a:hover) ~ .email div {
  transform: translateX(2rem);
}
.list:has(a:hover) ~ .email .emailDomain {
  opacity: 0.05;
}

.link {
  border-radius: var(--rounded);
  display: inline-grid;
  font-weight: 600;
  gap: 0.25rem;
  height: auto;
  justify-items: center;
  padding: 0.5rem;
  width: 6rem;
}
.link > svg,
.link > img {
  height: 1.5rem;
  width: auto;
}
.link:hover {
  background-color: var(--neutral-50);
}
html[data-theme="dark"] .link:hover {
  background-color: var(--slate-700);
}

.textContent {
  color: var(--neutral-600);
  font-size: var(--fz-xl);
  font-weight: 400;
  margin-top: 2rem;
  opacity: 1;
  text-align: center;
  transition: 250ms ease-in-out;
  transition-property: visibility, opacity;
}
html[data-theme="dark"] .textContent {
  color: var(--slate-400);
}

.email {
  font-size: var(--fz-2xl);
  text-align: center;
  text-decoration: underline solid var(--bright-turquoise-600);
  text-underline-offset: 0.25rem;
  transform: translateX(-0.5ch);
}
html[data-theme="dark"] .email {
  text-decoration: underline solid var(--bright-turquoise-600);
}

.at {
  opacity: 0.05;
  transition: opacity 0.25s ease-in-out;
  user-select: none;
}
.email > a {
  font-weight: 600;
  text-decoration: inherit;
}

.emailDomain {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

@media (min-width: 768px) {
  .list {
    gap: 2rem;
  }

  .link > svg,
  .link > img {
    height: 2.5rem;
    width: auto;
  }
}
