/* CSS Variables */
:root {
  color-scheme: light dark;

  --fz-xs: 0.75rem;
  --fz-sm: 0.875rem;
  --fz-base: 1rem;
  --fz-lg: 1.125rem;
  --fz-xl: 1.25rem;
  --fz-2xl: 1.5rem;
  --fz-3xl: 1.875rem;
  --fz-4xl: 2.25rem;
  --fz-5xl: 3rem;
  --fz-6xl: 3.75rem;
  --fz-7xl: 4.5rem;
  --fz-8xl: 6rem;
  --fz-9xl: 8rem;

  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 9999px;

  --bright-turquoise-50: #eefffc;
  --bright-turquoise-100: #c6fff8;
  --bright-turquoise-200: #8efff3;
  --bright-turquoise-300: #4dfbec;
  --bright-turquoise-400: #17e6db;
  --bright-turquoise-500: #00ccc4;
  --bright-turquoise-600: #00a4a1;
  --bright-turquoise-700: #038281;
  --bright-turquoise-800: #086667;
  --bright-turquoise-900: #0c5555;

  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  /* --slate-800: #1e293b; */
  /* --slate-900: #0f172a; */
  --slate-800: #1f2124;
  --slate-900: #0f1116;

  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Provide basic, default focus styles.*/
:focus {
  outline: 2px dashed var(--bright-turquoise-500);
  outline-offset: 3px;
}
/* Remove default focus styles for mouse users if supported */
:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}

/* Scrollbar Styles */
html {
  scrollbar-color: var(--slate-300) var(--neutral-300);
}
body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--neutral-200);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--slate-300);
  border: 0.15rem solid var(--neutral-100);
  border-radius: 0.75rem;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--slate-400);
  border: 0.15rem solid var(--neutral-200);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--neutral-100);
  color: var(--neutral-900);
  font-family: "Open Sans", sans-serif;
  font-size: var(--fz-base);
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 0.625rem 0;
}
a {
  color: inherit;
  display: inline-block;
  position: relative;
  text-decoration-skip-ink: auto;
  text-decoration: none;
}
button {
  border-radius: 0;
  border: 0;
  cursor: pointer;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero__content {
  font-weight: 300;
  margin: 0 0.5rem 0 1.5rem;
}
.hero__title {
  font-size: var(--fz-6xl);
  font-weight: 300;
  margin: 0;
  position: relative;
}
.hero__title > span {
  display: block;
  font-size: var(--fz-4xl);
  font-weight: 300;
  margin: 0;
  position: relative;
}
.hero__subtitle {
  color: var(--slate-400);
  font-size: var(--fz-5xl);
  font-weight: 400;
  margin: 1.75rem 0 0 0;
  position: relative;
}

.hero__title::before,
.hero__title::after,
.hero__subtitle::before,
.hero__subtitle::after {
  color: var(--neutral-900);
  font-size: 1.125rem;
  font-weight: 400;
  left: -1.5rem;
  opacity: 0.25;
  position: absolute;
}
.hero__title::before,
.hero__subtitle::before {
  margin-top: -0.75rem;
}
.hero__title::after,
.hero__subtitle::after {
  bottom: -0.75rem;
}
.hero__title::before {
  content: "<h1>";
}
.hero__title::after {
  content: "</h1>";
}
.hero__subtitle::before {
  content: "<h2>";
}
.hero__subtitle::after {
  content: "</h2>";
}

.hero__image {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: var(--rounded-full);
}
.projects__list {
  display: grid;
  gap: 2rem;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 1rem;
  margin: 4rem 0 0 0;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: var(--fz-7xl);
  }
  .hero__title > span {
    font-size: var(--fz-5xl);
  }
  .hero__subtitle {
    font-size: var(--fz-6xl);
  }
  .projects__list {
    display: grid;
    gap: 2rem;
  }

  .skills__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 1rem;
  }
}

/* Dark Theme Colors */
html[data-theme="dark"] {
  scrollbar-color: var(--slate-700) var(--slate-800);
}
html[data-theme="dark"] body::-webkit-scrollbar-track {
  background-color: var(--slate-800);
}
html[data-theme="dark"] body::-webkit-scrollbar-thumb {
  background-color: var(--slate-700);
  border-color: var(--slate-800);
}
html[data-theme="dark"] body::-webkit-scrollbar-thumb:hover {
  background-color: var(--slate-600);
  border-color: var(--slate-700);
}

html[data-theme="dark"] body {
  background-color: var(--slate-900);
  color: var(--neutral-100);
}
html[data-theme="dark"] .svg-logo--linkedin > path {
  fill: var(--neutral-100);
}

html[data-theme="dark"] .hero__title::before,
html[data-theme="dark"] .hero__title::after,
html[data-theme="dark"] .hero__subtitle::before,
html[data-theme="dark"] .hero__subtitle::after {
  color: var(--neutral-100);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.underlineEffect:after {
  content: "";
  width: 0;
  height: 0.13rem;
  position: absolute;
  top: 90%;
  left: 0;
  background: var(--slate-400);
  transition: 300ms;
}
.underlineEffect:hover:after {
  width: 100%;
}
.underlineEffect:not(:hover):after {
  right: 0;
  left: auto;
}
